MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/gestor_tickets?retryWrites=true&w=majority
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret
AUTH_SECRET=tu_auth_secret_generado
